<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <%- content %>
  <script>
  window.castlePublishableKey = '<%= castlePublishableKey %>';
  </script>
  <script src="/main.js"></script>
</body>
</html>
