<!DOCTYPE html>
<html class="h-full bg-white">
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="/main.css">
</head>
<body class="h-full">
  <%- content %>
  <script>
  window.castlePublishableKey = '<%= castlePublishableKey %>';
  </script>
  <script src="/main.js"></script>
</body>
</html>
